.register {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px 5px 30px 5px;
    width: 85%;
    background-color: black;
    opacity: .9;
    color: #ddd;
    border-radius: .5rem;
}

.register h3 {
    margin-block: 8%;
}

input {
    padding: 15px;
    background-color: black;
    width: 89.4%;
    box-sizing: border-box;
    color: #ddd;
}

input:focus {
    border-left: 1px solid rgb(44, 148, 3);
    border-top: 1px solid rgb(44, 148, 3);
    border-right: 2px solid rgb(56, 190, 3);;
    border-bottom: 2px solid rgb(56, 190, 3);;
    outline: none;
}

.blend input {
    margin: 0 5px 20px 5px;
    padding: 15px;
    width: 44%;
}

.register button {
    display: block;
    margin: 10% auto;
    padding: 30px 0;
    width: 81.5%;
    background-color: rgb(44, 148, 3);
    box-sizing: border-box;
    border: none;
    border-radius: 3rem;
    font-size: 100%;
    box-shadow: .5px .5px 1px #444; /* Sombra inicial (sutil) */
    transition: all .4s ease-out;
}

.register button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1.5px rgb(3, 248, 48); /* Sombra más pronunciada al pasar el mouse */
    background-color: rgb(56, 190, 3);
}