#project-container {
    background-color: #111;
    margin: 0;
    color: #eafae9;
    display: flex;
    flex-direction: column;
}

#project-container .project-title {
    font-family: "Anton", sans-serif;
    font-weight: 550;
    font-style: normal;
}

#project-container .project-title span {
    color: rgb(2, 124, 2);
}

#project-container #container-cards {
    height: 650px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}