.profile {
    margin-block: 3%;
}

.profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 3%;
}

.profile-data h2 {
    text-align: center;
}

.profile-data ul {
    list-style: none;
    padding: 0;
    margin: auto 12rem;
}

.profile-data ul li {
    margin-bottom: 4px;
}

.profile-data form {
    margin-block: auto;
}

.profile-data form div {
    display: flex;
    align-items: center;
    margin-inline: 10rem;
}

.profile-data form div input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    margin-left: .5rem;
    height: 50%;
    width: 80%;
}

.edit-button {
    margin: 1% auto;
    border-radius: 1rem;
    border: none;
    padding: .5rem;
    background-color: rgb(2, 124, 2);
    width: 50%;
}

.edit-button:hover {
    background-color: rgb(10, 150, 3);
    box-shadow: 1px 1px 1.5px rgb(12, 160, 4);
}

.button-box {
    width: 100%;
    margin: 1% auto;
    text-align: center;
}

.cancel-button {
    margin: 1% 0;
    border-radius: 1rem;
    border: none;
    padding: .5rem;
    width: 30%;
}

#edit-button {
    width: 30%;
    margin-inline: 0;
}