#admin-dashboard {
    padding-block: 100px;
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.admin-dashboard_menu {
    width: 25%;
    margin-inline: 1%;
}

.admin-dashboard_info {
    width: 55%;
}