.card {
    background-color: #eafae9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
    height: 70%;
    width: 30%;
    margin-inline: 4.5px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.card .web-img {
    border-radius: 1rem;
    margin: 0;
    width: 98%;
    height: 40%;
}

.card h2 {
    
}

.card p {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 4.5px;
    padding: 0;
    margin: 0;
}

.card ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding-inline: 1rem;
}

.card ul li {
    margin: 1px;
}