.card {
    background-color: #eafae9;
    -webkit-box-shadow: -4px 9px 8px -5px rgb(1, 36, 1);;
    -moz-box-shadow: -4px 9px 8px -5px rgb(1, 36, 1);;
    box-shadow: -4px 9px 8px -5px rgb(1, 36, 1);;
    height: 80%;
    width: 30%;
    margin-inline: 4.5px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.card .web-img {
    border-radius: 1rem;
    margin: 0;
    width: 98%;
    height: 40%;
}

.card h2 {
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.card p {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 4.5px;
    padding: 0 2px 0 8px;
    margin: 0;
    text-align: left;
}

.card ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding-inline: 1rem;
}

.card ul li {
    margin: 1px;
}