.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 10rem;
    color: #ddd;
}

.login #login-form {
    width: 100%;
}

.login #login-form div input {
    margin-block: 1%;
}