.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 10rem;
    color: #ddd;
}

.login #login-form input {
    margin-block: 5%;
}